{% load static %}
{% csrf_token %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://icons.iconarchive.com/icons/paomedia/small-n-flat/256/notepad-icon.png" type="image/png">
    <title>Daily Guide</title>
    <link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <div id="top-navbar">
        <div id="navbar-left">
            <h1>Daily Guide</h1>
        </div>
        <div id="navbar-right">
            <a href="/">
                <button id="homeButton">Início</button>
            </a>
            <a href="{% url 'logout' %}">
                <button id="logoutBotn">Desconectar</button>
            </a>
        </div>
    </div>
    <div id="container">

        <div id="list-header">
            <div id="addNoteDiv" onclick="popup()">
                <i class="fa-solid fa-plus"></i>
            </div>
            <div class="blankDiv"></div>
            <div class="blankDiv"></div>
        </div>

        <div id="list-container">
            <ul id="notes-list"></ul>
        </div>
    </div>

    <script src="{% static 'dashboard/js/script.js' %}"></script>
</body>
</html>